body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
}

h1, h2 {
    color: #333;
}

section {
    margin-bottom: 40px;
}

.border-example {
    border: 2px solid #333;
    padding: 10px;
    margin: 10px 0;
}

.border-radius-example {
    border: 2px solid #333;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
}

.box-shadow-example {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.text-shadow-example {
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.font-example {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 10px 0;
}

.transform-example {
    background-color: #add8e6;
    padding: 20px;
    margin: 70px 0;
    transform: rotate(3deg);
}

/* 
Font Family (font-family)
Define o tipo de fonte que será usado no texto de um elemento. Pode ser uma lista de fontes, separadas por vírgulas, onde o navegador tenta usar a primeira fonte disponível na lista.

Exemplo:

font-family: Arial, sans-serif;



Font Size (font-size)
Determina o tamanho da fonte. Pode ser especificado em várias unidades, como pixels (px), ems (em), rems (rem), pontos (pt), entre outras.

Exemplo:

font-size: 14px;



Font Weight (font-weight)
Define a espessura da fonte. Valores comuns incluem normal, bold, bolder, lighter, ou números entre 100 e 900.

Exemplo:

font-weight: bold;



Text Align (text-align)
Controla o alinhamento do texto dentro de um elemento. Pode ser left, right, center, justify.

Exemplo:

text-align: center;



Margin
Define o espaçamento externo de um elemento, ou seja, a distância entre o elemento e os outros ao redor. Pode ser especificado individualmente para cada lado (top, right, bottom, left) ou de forma resumida.

Exemplo:

margin: 20px;

margin: 10px 15px 20px 25px; /* top, right, bottom, left *//*



Border
Estiliza a borda de um elemento. Especifica a largura, estilo (como solid, dashed, dotted) e a cor da borda.

Exemplo:

border: 2px solid #333;
*/