body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c5e1f8;
}

header {
    background-color: #B1DBF9;
    color: #fff;
    padding: 25px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ccc;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.contact-section {
    background-color: #f7f7f7;
    padding: 2em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-section h1 {
    margin-top: 0;
}

.contact-section p {
    margin-bottom: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form label {
    margin-bottom: 10px
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

#contact-form button[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button[type="submit"]:hover {
    background-color: #444;
}

.contact-info {
    margin-top: 20px;
}

.contact-info h2 {
    margin-top: 0;
}

.contact-info p {
    margin-bottom: 10px;
}

footer {
    background-color: #B1DBF9;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}