body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  background-color: #8f8;
  padding: 15rem;
  width: 300px;
  margin: 40px auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(14, 30, 253, 0.1);
}

button {
  margin: 0.62rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background-color: #5cb85c;
  color: black;
  border-color: #4cae4c;
}

h1 {
  color: black;
  font-size: 1.7rem;
}

p {
  color: black;
}